

.title-event{
    color: rgb(32, 34, 36);
    font-family: "BBC Reith Serif", Helvetica, Arial, sans-serif !important;
    font-weight: 500;
    line-height: 22px;
    text-transform: none;
    text-decoration: none;
    font-weight: 550 !important;

}



.title-event {
  font-family: "Playfair Display", serif !important;
  font-optical-sizing: auto !important;
  line-height: 28px !important;
  text-transform: none;
  text-decoration: none;

}

.content-event{
    font-family: "Playfair Display", serif !important;
    font-optical-sizing: auto !important;
    line-height: 22px;
    text-transform: none;
    text-decoration: none;
}

.title-notice{
  font-family: "Playfair Display", serif !important;
  font-optical-sizing: auto !important;
  line-height: 22px;
  text-transform: none;
  text-decoration: none;
  font-weight: 500 !important;
}

.title-contenido{
  font-family: "Playfair Display", serif !important;
  font-optical-sizing: auto !important;
  line-height: 30px;
  text-transform: none;
  text-decoration: none;
  font-size: 17px !important;

}